:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-size: 16px;
}

$font_rubik: "Rubik", sans-serif;

$color_black: #000;
$color_aqua: #14d9c4;
$color_blue-geen: #099d8d;
$color_light-grey-blue: rgb(184 184 185);

