
.header{
    text-align: center;
    position:fixed;
    width: 100%;
  
}

.header_title{
    font-size: 16px;
    font-family: $font_rubik;
    font-weight: 500;
    width: 100%;
    background-color:#099d8d;
    opacity: 0.95;
    color:white;
    line-height: 60px;

    /* line-height:44px ;
    padding: 16px; */
    
    /* height: 60px;
    display: flex;
    justify-content: center;
    align-items: center; */
    
}
    .header_menu_list{
        
    display: flex;
    justify-content: center;
    
    background-color:#14d9c4 ;
    line-height: 30px;
    opacity: 0.95;
}
.header_menu_link{

    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 7px;
    padding-inline: 15px;
    color:white;
}