._hero_section {
    display: inline;
    padding-bottom: 5%;
}

._hero_title {
    text-align: left;
    font-family: $font_rubik;
    font-size: 20px;
    font-style: normal;
    line-height: 1.39;
    position: absolute;
    transform:translateY(-50%);
    background-color: rgba(240, 248, 255, 0.664);
    margin-left: 10%;
    margin-right: 10%;
    padding: 3%;

}

._hero_background_image {
    background-image: url(/images/scooby_doo_w_background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 621px;
    
    
}

@media (min-width: 760px) {

    ._hero_title {
        font-size: 24px;
        line-height: 30px;
        line-height: 1.6;
        //transform:translateY(-228%);
        

    }

    ._hero_background_image {
        object-fit: contain;
        background-size: contain;
        height: 821px;
    
    }
}

@media (min-width: 1200px) {
    ._hero_title {
        font-size: 28px;
        transform:translateY(-100%);
        margin-left: 25%;
        margin-right: 25%;

    }

    ._hero_background_image {
        object-fit: contain;
        background-size: contain;
        height: 921px;
    
    }
}




