.team{
    position: relative;

    padding: 30px 15px;

    @media (min-width: 768px) {
        padding: 45px 15px;
    }
}


.team__title, .team__text{
    text-align: center;
}

.team__title{
    font-family: $font_rubik;
    font-size: 1.5rem;
    font-weight: 500;

    color: $color_aqua;

    text-transform: uppercase;

    line-height: 2.8rem;

    @media (min-width: 768px){
        color: $color_blue-green;
    }
}

.team__text{
    max-width: 600px;

    margin-top: 0.9rem;
    margin-inline: auto;

    color: $color_texts;
    opacity: 0.67;
    line-height: 1.5rem;
}

.team__arrow{
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0;
    margin-inline: auto;

    width: 30px;
    height: 30px;

    text-align: center;

    transform: rotate(45deg);

    background-color: #fff;

}