<section class="about_us">
    <article class="about_us-member">
        <img class="photo_member" src="./images/member1.png" alt="Member 1 - Scooby Doo">
        <div class="about_us-member-text">
            <h2 class="member_name">Scooby Doo</h2>
            <p class="member_description">Scooby-Doo es un estudiante de programación web con una habilidad especial para encontrar y resolver errores de código. Aunque puede parecer distraído y temeroso, su creatividad y capacidad para trabajar en equipo le permiten abordar problemas desde perspectivas únicas. Su personalidad amigable y su amor por las galletas Scooby lo hacen un miembro valioso y querido del equipo.</p>
            <div class="member_links">
                <a href=""><img class="logo_icon" src="./images/twitter.png" alt="Twitter logo"></a>
                <a href=""><img class="logo_icon" src="./images/linkedin.png" alt="LinkedIn logo"></a>
                <a href=""><img class="logo_icon" src="./images/github.png" alt="GitHub logo"></a>
                <a href=""><img class="logo_icon" src="./images/email.png" alt="Email icon"></a>
            </div>
        </div>
    </article>
    <article class="about_us-member">
        
    </article>
    <article class="about_us-member">
        
    </article>
    <article class="about_us-member">
        
    </article>
    <article class="about_us-member">
        
    </article>
</section>