<section class="SandW">
    <div class="SandW__element">
        <h1 class="SandW__title">Fortalezas</h1>
        <p class="SandW__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius. </p>
    </div>
    <div class="SandW__element">
        <h1 class="SandW__title">Debilidades</h1>
        <p class="SandW__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc rutrum ullamcorper mauris, vel convallis metus eleifend in. Cras hendrerit at ante eget auctor. Nunc maximus ipsum non volutpat convallis. Morbi interdum neque et aliquam varius. </p>
    </div>
</section>