<section class="SandW">
    <div class="SandW__element">
        <h1 class="SandW__title">Fortalezas</h1>
        <p class="SandW__text">Nosotras, las ScoobyLabers, destacamos por nuestra diversidad y creatividad al abordar problemas. Nuestra determinación y pasión por la tecnología nos impulsan a superar desafíos. El fuerte espíritu de colaboración y apoyo mutuo nos motiva a dar lo mejor de nosotras, preparándonos para conquistar el mundo del desarrollo web.</p>
    </div>
    <div class="SandW__element">
        <h1 class="SandW__title">Debilidades</h1>
        <p class="SandW__text">Como grupo, enfrentamos desafíos como las diferencias en niveles de experiencia técnica y la presión de un programa intensivo. Estas dificultades pueden afectar nuestra coordinación y motivación. Sin embargo, estamos comprometidas a superarlas con comunicación abierta, paciencia y apoyo constante entre todas las ScoobyLabers.</p>
    </div>
</section>