<section class="team" id = "team">
    <h1 class="team__title">Equipo</h1>
    <p class="team__text">Nosotras, las Scooby-Labers, somos un grupo de mujeres talentosas y decididas, unidas por nuestra pasión por la tecnología y el desarrollo web. Como parte de nuestro bootcamp de desarrollo full stack, hemos forjado una comunidad donde el entusiasmo, la colaboración y el aprendizaje continuo son nuestros pilares fundamentales.</p>
    <p class="team__text">Estamos comprometidas a cerrar la brecha de género en el sector tecnológico y a demostrar que, con dedicación y apoyo mutuo, no hay límites para lo que podemos lograr. Juntas, nos empoderamos y nos preparamos para convertirnos en líderes en el mundo del desarrollo web.</p>
    <span class="team__arrow"></span>
</section>
